apache-airflow[celery,kerberos,ldap,statsd,redis,rabbitmq,postgres,cncf.kubernetes]==3.2.1
apache-airflow-providers-git
apache-airflow-providers-amazon
apache-airflow-providers-fab
apache-airflow-providers-keycloak==0.7.1
# Monitoring
airflow-exporter
Authlib
