apache-airflow[celery,kerberos,ldap,statsd,redis,rabbitmq,postgres,cncf.kubernetes]==3.1.7
apache-airflow-providers-amazon
apache-airflow-providers-fab
apache-airflow-providers-keycloak==0.5.1
# Monitoring
airflow-exporter
Authlib
