{{- if .Values.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "airflow.fullname" . }}
  labels:
    tier: airflow
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
    {{- if .Values.serviceMonitor.selector }}
    {{- toYaml .Values.serviceMonitor.selector | nindent 4 }}
    {{- end }}
    {{- with .Values.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
    app.kubernetes.io/processed-by-operator: prometheus-operator
spec:
  selector:
    matchLabels:
      component: api-server
      release: {{ .Release.Name }}
  endpoints:
  - port: api-server
    path: {{ .Values.serviceMonitor.path }}
    interval: {{ .Values.serviceMonitor.interval }}
    {{- if .Values.serviceMonitor.scrapeTimeout }}
    scrapeTimeout: {{ .Values.serviceMonitor.scrapeTimeout }}
    {{- end }}
    {{- if or .Values.config.webserver.web_server_ssl_key Values.config.api.ssl_key }}
    scheme: https
    tlsConfig:
      serverName: {{ include "airflow.fullname" . }}-webserver
      ca:
        secret:
          {{- if .Values.serviceMonitor.tlsSecret }}
          {{- toYaml .Values.serviceMonitor.tlsSecret | nindent 10 }}
          {{- else }}
          name: airflow-services-tls-certificate
          key: ca.crt
          {{- end }}
    {{- end }}
{{- end }}
